ul{
    padding: 0;
}

li{
    height: 100px;
    border-radius: 6px;
    border: none;
    background-color: white;
    align-items: center;
    margin: 50px 30px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    box-shadow: 0px 5px 10px gray;
}

.icon {
    width: 40px;
    height: 40px;
    stroke-width: 6;
    color: rgb(128, 126, 126);
  }

  .icon{
    transition: color 0.3s ease-in-out;
  }
  
  .icon:hover {
    cursor: pointer;
  }

  .icon-check{
    position: relative;
    right: -20px;
  }

  .task-complete{
    text-decoration: line-through;
  }

  .task{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 300;
  }

  .icon-check--completed{
    color: green;
  }

  .icon-xmark {
    position: relative;
    top: -48px;
  }
  
  .icon-xmark:hover{
    color: rgb(184, 0, 0);  }